@model RopeyDVDSystem.Models.UserLoginModel

@{
    ViewData["Title"] = "Login";
}

@section AddCustomStyles{
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/fonts/linearicons/style.css")" rel="stylesheet"  />
}



@if(TempData["Error"] != null)
{
    <div class="col-md-12 alert alert-danger">
        <span>@TempData["Error"]</span>
    </div>
}


@*<h1>Login</h1>

<h4>UserLoginModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<body style="background-color: #f9dec0">
		<div class="wrapper">
			<div class="inner">
                
				<img src="~/images/image-1.png" alt="" class="image-1">
                <form asp-action="Login">
                    <h3 > Admin login page</h3>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-holder mt-4">
                        <span class="lnr lnr-user"></span>
                        <input asp-for="Username" class="form-control" placeholder="Username"/>
                        <span asp-validation-for="Username" class="text-danger mt-4"></span>
                    </div>
                    <div class="form-holder">
                        <span class="lnr lnr-lock"></span>
                        <input asp-for="Password" class="form-control" placeholder ="Password"/>
                        <span asp-validation-for="Password" class="text-danger mt-4"></span>
                    </div>

                    <div class="form-group mt-4 text-right float-right">
                        <input type="submit" value="Login" class="btn btn-warning text-white" style="width: 100%"/>
                    </div>
                </form>				
				<img src="" alt="" class="image-2">
			</div>
			
		</div>
</body>
		
		
