@model Studio

@{
    ViewData["Title"] = "Update studio";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Update studio</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" asp-for="StudioNumber"/>
                    <div class="form-group">
                        <label asp-for="StudioName" class="control-label"></label>
                        <input asp-for="StudioName" class="form-control" />
                        <span asp-validation-for="StudioName" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>